*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    width: 100%;
    display: flex;
    justify-content: center;
}

.header_container{
    width: 1280px;
    background-color: antiquewhite;
}

.header_container_subjacts{
    display: flex;
justify-content: center;
align-items: center;
}