*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    transition: all .3s ease;
}

header , .header2, .hero{
    width: 100%;
    display: flex;
    justify-content: center;
}


.computer_backround{
    border-radius: 20px;
}

.subject_own{
    font-size: 45px;
}

.subject_con{
    width: 480px;
    height: 66px;
    background-color: rgb(205, 205, 205);
}

.first_container , .second_container{
    display: flex;
    justify-content: center;
    width: 608px;
    height: 455px;
    background-color: #9bdcff;
}

.main_WORDS{
    font-size: 35px;
}

.font-400{
    font-weight: 200;
    color: #317CA0;
}

.ggg{
font-size: 15px;
color: #687C91;
}

.body_main_container {
    width: 1152px;
    height: 657px;
    padding: 64px;
    background-color: rgb(225, 225, 225);
    display: flex;
    justify-content: center;
}

.two_mainnn{
    padding: 10px;
    width: 500px;
}

.main_connn{
    margin: 70px;
    display: flex;
    justify-content: center;
}


.Q_qator{
width: 1052px;
display: flex;
justify-content: left;
flex-direction: column;
background-color: blanchedalmond;
}

.body_containertypes{
    width: 100%;
    margin-left: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 175px;
    background-color: aqua;
}








.header_container{
    width: 1280px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_container_subjacts_links{
    color: rgb(88, 84, 132);
    font-size: 16px;
}

.header_container_subjacts_links:hover{
    color: rgb(25, 23, 51);    
}

.header_container_subjacts{
    height: 76px;
    width: 574px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

body{
    background-color: rgb(245, 245, 245);
}

.header_2_elememts{
    width: 1264px;
    height: 60px;
    display: flex;
background-color: white;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
}

.tt{
    width: 100%;
}

.header_2_elements_word{
    display: flex;
    padding: 20px;
}

.right , .subjects{
    display: flex;
    align-items: center;
    padding: 20px;
}

.downlo0ad_container_own{
    transition: all .3s ease;
}

.downlo0ad_container_own:hover{
    color:aqua;
}

.subjects:hover{
  color: rgb(132, 204, 204);
}

.sunjects_button{
    font-weight: 1000;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 9px;
    height: 42px;
    border: none;
    background:linear-gradient(to left,#9bdcff, #00a2ff);
}

.sunjects_button:hover{
   opacity: 0.7;
}

.main_word{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h1_container{
    font-size: 80px;
    
    color:navy;
}

.h1_container:hover{
    opacity: 0.7;
}

.h1_container_pasti{
    font-size: 15px;
    width: 940px;
    height: 70px;
}

.asosiy_container{
    display: flex;
    justify-content: center;
}

.downlo0ad_container_own{
    border: none;
    font-size: 18px;
    background-color: transparent;
    padding: 20px;
    margin-bottom: 60px;
    margin-right: 50px;
}

.h5_container_p{
    display: flex;
    justify-content: center;
}

.margin_uchun_place{
    color:darkslategrey;
}

.h5_container{
    font-size: 20px;
    color:darkslategrey;
}

.Downloand_for_button{
    display: flex;
    justify-content: center;
}

.additionally{
    margin-left: 60px;
}

.Downloand_os_systyem {
    transition: all  .3s ease;
    font-weight:1000;
    color: white;
    padding: 20px;
    border:none;
    border-radius: 10px;
    background:linear-gradient(to left, rgb(131, 253, 255),rgb(1, 132, 132));
}

.Downloand_os_systyem:hover{
    opacity: .7;
}

.for_main_image{
    width: 100%;
    display: flex;
    justify-content: center;
}

.body_container_4party{
width: 100%;
display: flex;
justify-content: space-around;
}

.types_products{
    width: 1920px;
    height: 244px;
    background-color: bisque;
}

