*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}

header , .header2{
    width: 100%;
    display: flex;
    justify-content: center;
}






.header_container{
    width: 1280px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_container_subjacts_links{
    color: rgb(88, 84, 132);
    font-size: 16px;
}

.header_container_subjacts_links:hover{
    color: rgb(25, 23, 51);    
}

.header_container_subjacts{
    height: 76px;
    width: 574px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

body{
    background-color: rgb(245, 245, 245);
}

.header_2_elememts{
    width: 1264px;
    height: 60px;
    display: flex;
background-color: white;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
}

.header_2_elements_word{
    display: flex;
    padding: 20px;
}

.right , .subjects{
    display: flex;
    align-items: center;
    padding: 20px;
}

.subjects:hover{
  color: rgb(132, 204, 204);
}

.sunjects_button{
    font-weight: 1000;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 9px;
    height: 42px;
    border: none;
    background:linear-gradient(to left,#9bdcff, #00a2ff);
}

.sunjects_button:hover{
   opacity: 0.7;
}

.main_word{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h1_container{
    font-size: 55px;
    opacity: 0.5;
}

.h1_container:hover{
    opacity: 0.7;
}

.h1_container_pasti{
    font-size: 19px;
    width: 640px;
    height: 70px;
}

.asosiy_container{
    display: flex;
    justify-content: center;
}

.margin_uchun_place{
    color: aquamarine;
}

.h5_container{
    color:rgb(0, 255, 170);
}

.Downloand_for_button{
    display: flex;
    justify-content: center;
}

.additionally{
    margin-left: 60px;
}

.Downloand_os_systyem {
    font-weight:1000;
    color: white;
    padding: 20px;
    border:none;
    border-radius: 10px;
    background:linear-gradient(to left, rgb(131, 253, 255),rgb(1, 132, 132));
}

.Downloand_os_systyem:hover{
    opacity: .7;
}

.for_main_image{
    width: 100%;
    display: flex;
    justify-content: center;
}

.body_container_4party{
width: 100%;
display: flex;
}


.onetype{
    width: 377px;
    height: 244px;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}